* {
  box-sizing:border-box;
}
body{
  background-color: @primary-bg-color;
  color: @primary-text-color;
  margin:0;
}
main {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  width:100%;
  background-color: #fff;
  color: @secondary-text-color;
}
.p1{
  padding: 1rem;
}
.py1{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.px1{
  padding-left: 1rem;
  padding-right: 1rem;
}
.p2{
  padding: 2rem;
}
.py2{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.px2{
  padding-left: 2rem;
  padding-right: 2rem;
}
.shadow-d1{
  box-shadow: 0 2px 2px 0 fade(@secondary-text-color, 88%), 0 2px 2px -2px fade(@secondary-text-color, 88%), 0 2px 2px 0 fade(@secondary-text-color, 88%);
}
.shadow-d2{
  box-shadow: 0 4px 4px 0 fade(@secondary-text-color, 88%), 0 4px 4px -4px fade(@secondary-text-color, 88%), 0 4px 4px 0 fade(@secondary-text-color, 88%);
}
.shadow-d3{
  box-shadow: 0 8px 8px 0 fade(@secondary-text-color, 88%), 0 8px 8px -8px fade(@secondary-text-color, 88%), 0 8px 8px 0 fade(@secondary-text-color, 88%);
}

.card {
  .shadow-d1();
}

.container {
  .p1();
  .shadow-d1();
}
