/* e("Literal con @{nombreVariable}");  --> Definicion de Literal Text con Iterpolación */
@md: e("(min-width:@{mediumDeviceMinResolution})");
@lg: e("(min-width:@{largeDeviceMinResolution})");
@xl: e("(min-width:@{extraLargeDeviceMinResolution})");

@sm: e("(max-width:@{mediumDeviceMinResolution})");
