@primary-bg-color: #1565c0;
@secondary-bg-color: #b9f6ca;
@primary-text-color: #FFF;
@secondary-text-color: #000;

@primary-bg-light: lighten(@primary-bg-color, 10%);
@primary-bg-dark: darken(@primary-bg-color, 10%);


@mediumDeviceMinResolution: 568px;
@largeDeviceMinResolution: 1024px;
@extraLargeDeviceMinResolution: 1200px;
